<%= form_for(@element) do |f| %>
  <% if @element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@element.errors.count, "error") %> prohibited this element from being saved:</h2>

      <ul>
      <% @element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url,class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :html_tag %><br>
    <%= f.text_field :html_tag, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :html_subtag %><br>
    <%= f.text_field :html_subtag, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <input type="hidden" name="project" value="<%=@project.id %>">
  <%=@project.id %>
  
<% end %>

