<div class="admin-container">
  <div class="wrapper">
    <h1>Editing element '<%=@element.name%>'</h1>
    <h2 class="u-spacer10">in project <%=@project.name%></h2>

    <%= link_to 'Back', edit_project_path(@project), class: 'button u-inlineBlock u-spacer30' %>

    <div class="form-sizer u-spacer20">
      <%= render 'form' %>
    </div>

    <div class="u-spacer40"></div>
  	<!-- If there's a video url use that, otherwise use uploaded image -->
  	<% if @element.url.present? %>
      <<%=@element.html_tag.html_safe %><%=@element.url%><%=@element.html_subtag.html_safe%>>
  	<% else %>
      <<%=@element.html_tag.html_safe %><%=@element.element_img.url%><%=@element.html_subtag.html_safe%>>
    <% end %>
    
  </div>

  
</div>