

<div class='container edit_element_page'>
  <div class='row'>

    <h1>Editing element <%=@element.name%> in project <%=@project.name%></h1>

      <%= render 'form' %>
	
	<br>
    <%= link_to 'Back', edit_project_path(@project), class: 'btn btn-default' %>

	<!-- If there's a video url use that, otherwise use uploaded image -->
	<% if @element.url.present? %>
    	<<%=@element.html_tag.html_safe %><%=@element.url%><%=@element.html_subtag.html_safe%>>
	<% else %>
    	<<%=@element.html_tag.html_safe %><%=@element.element_img.url%><%=@element.html_subtag.html_safe%>>
    <% end %>


  </div>
</div>
