<div class="admin-container">
  <div class="wrapper">
    <h1 class="u-spacer30">Admin Panel</h1>
    

    <!-- ADMIN PANEL
    =============================== -->
    <div class="admin-panel u-spacer30">
      <div class="grid">
        <div class="grid__item one-half">
          <h2>Project Listing</h2>
        </div>
        <div class="grid__item one-half">
          <div class="u-alignRight">
            <%= link_to "New Project", new_project_path, class: 'button' %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'button' %>
          </div>
        </div>
      </div>
    </div>


    <!-- ADMIN PROJECT LISTING
    =============================== -->
    <table id="sortable" class="table" data-update_url="<%= sort_projects_path%>">

      <thead>
        <tr>
          <th>Order</th>
          <th>Project</th>
          <th>Feature Image</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr class="item" data-item_id="<%= project.id%>">
            <td>
              <%= form_for(project) do |f| %>
                <% if project.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

                    <ul>
                    <% project.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group u-spacer10">
                  <%= f.text_field :project_order, class: 'input' %>
                </div>
                <div class="actions">
                  <%= f.submit 'Update Order', class: 'button' %>
                </div>
                <% end %>
            </td>
            <td><%= project.name %></td>
            <td><img src="<%=project.feature_img.url%>" class="listing-image"></td>
            <td>
              <%= link_to "Edit", edit_project_path(project), class: "button" %>
              <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: 'Are you sure?'}, class: 'button' %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>

  </div>
</div>