
<div class='container edit_element_page'>
  <div class='row'>
    <h1>Editing project <%=@project.name%></h1>

    <%= render 'form' %>
    
    <br>
    <%= link_to 'Preview', @project, class: 'btn btn-default' %>
    <%= link_to 'Back', admin_path, class: 'btn btn-default' %>

    <hr>
    <h2> Elements </h2>
    <hr>
    <%= link_to 'Add New Element', new_element_path(:project => @project), class: 'btn btn-default' %>

    <br/>
    <br/>
  </div>
  <div class='row'>
  <table id="sortable" class="table" data-update_url="<%= sort_elements_path%>">

    <thead>
      <tr>
        <th>Order</th>
        <th>Element</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% for element in @project.elements %>
        <tr class="item" data-item_id="<%= element.id%>">   
          <td><%= element.order %></td>   
          <td><%= link_to "#{element.name}", edit_element_path(element, :format => @project) %></td>
          <td><%= link_to edit_element_path(element, :format => @project) do %>
            <!-- If there's a video url use that, otherwise use uploaded image -->
              <% if element.url.present? %>
                  <<%=element.html_tag.html_safe %><%=element.url%><%=element.html_subtag.html_safe%>>
              <% else %>
                  <<%=element.html_tag.html_safe %><%=element.element_img.url%><%=element.html_subtag.html_safe%>>
                <% end %>
          </td>
          <td><%= link_to "Delete", element_path(element, :project => @project), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm' %></td>
            <hr>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>


    
  </div>
</div>
