
<div class='container edit_element_page'>
  <div class='row'>
    <h1>Edit project</h1>

    <%= render 'form' %>

    <%= link_to 'Preview', @project, class: 'btn btn-default' %>
    <%= link_to 'Back', admin_path, class: 'btn btn-default' %>

    <hr>
    <h2> Elements </h2>
    <hr>
    <%= link_to 'Add New Element', new_element_path, class: 'btn btn-default' %>

    <br/>
    <br/>


    <ul>
      <% for @element in @project.elements %>
      
          <li><%= link_to "#{@element.name}", edit_element_path(@element) %></li>
          <li><%= link_to edit_element_path(@element) do %>
            <img src="<%= @element.url %>" alt="" class="img-responsive"></li>
          <li><%= link_to "Delete", element_path(@element), method: :delete, class: 'btn btn-danger btn-sm' %>
            <hr>
            <% end %>
      <% end %>
    </ul>


    
  </div>
</div>
