<div class="admin-container">
  <div class="wrapper">
    <h1>Editing '<%=@project.name%>'</h1>

      <!-- ADMIN PANEL
    =============================== -->
    <div class="admin-panel u-spacer30">
      <div class="grid">
        <div class="grid__item one-half">
          <h2>Project Listing</h2>
        </div>
        <div class="grid__item one-half">
          <div class="u-alignRight">
            <%= link_to 'Preview', @project, class: 'button' %>
            <%= link_to 'Back', admin_path, class: 'button' %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'button' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-sizer">
      <%= render 'form' %>
    </div>

    <div class="u-spacer200"></div>

    <!-- ADMIN PANEL
    =============================== -->
    <div class="admin-panel u-spacer30">
      <h2 class="u-spacerRight20 u-inlineBlock">Elements</h2>
      <%= link_to 'Add New Element', new_element_path(:project => @project), class: 'button' %>
    </div>

    <table id="sortable" class="table" data-update_url="<%= sort_elements_path%>">

      <thead>
        <tr>
          <th>Order</th>
          <th>Element</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% for element in @project.elements %>
          <tr class="item" data-item_id="<%= element.id%>">   
                                      <tr>
                            <td> <%= form_for(element) do |f| %>
                              <% if element.errors.any? %>
                                <div id="error_explanation">
                                  <h2><%= pluralize(element.errors.count, "error") %> prohibited this element from being saved:</h2>

                                  <ul>
                                  <% element.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                                  </ul>
                                </div>
                              <% end %>

                              <div class="form-group u-spacer10">
                                <%= f.text_field :order, class: 'input' %>
                              </div>
                              <div class="actions">
                                <%= f.submit 'Update Order', class: 'button' %>
                              </div>
                              <% end %>
                            </td>   
            <td><%= element.name %></td>
            <td>
              <!-- If there's a video url use that, otherwise use uploaded image -->
                <% if element.url.present? %>
                    <<%=element.html_tag.html_safe %><%=element.url%><%=element.html_subtag.html_safe%>>
                <% else %>
                    <<%=element.html_tag.html_safe %><%=element.element_img.url%><%=element.html_subtag.html_safe%>>
                <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_element_path(element, :format => @project), class: 'button button--secondary' %>
              <%= link_to "Delete", element_path(element, :project => @project), method: :delete, data: { confirm: 'Are you sure?'}, class: 'button button--secondary' %></td>
            </tr>
        <% end %>
      </tbody>
    </table>


  </div>
</div>