<%= render 'layouts/navbar' %>

<!-- HERO SLIDER 
============================= -->
<div class="hero-container">
  <div id="slides">
    <ul class="slides-container">
      <% @slider_images.order('slider_order ASC').each do |slider_image| %>
        <li class="slide__item">
          <img class="slide__image" src="<%= slider_image.photo.url %>" alt="<%= slider_image.name %>">
        </li>
      <% end %>
    </ul>
    <nav class="slides-navigation">
      <a href="#" class="next"><span class="icon-arrow-right"></span></a>
      <a href="#" class="prev"><span class="icon-arrow-left"></span></a>
    </nav>
  </div>

  <a data-scroll href="#work" class="move-down"><span class="icon-arrow-down"></span></a>
</div>


<%= render 'listing' %>

<%= render 'layouts/footer' %>

<script>
  $(document).ready(function(){
    $('#slides').superslides();
    smoothScroll.init({
      updateURL: true,
      offset: 100
    });
  });
</script>