
<div class="container show_page">
  <div class='row'>
    <p id="notice"><%= notice %></p>

    <h1><%= @project.name %></h1>

    <p class='description'>
      <%= @project.description %>
    </p>

    <div class='feature_image' 'img-responsive'> 
      <img src='<%= @project.feature_image %>'>
    </div>
  </div>


  <div class="row">
    <ul>
      <% for @element in @project.elements %>
      
        <li>
            <img src="<%= @element.url %>" alt="" class="img-responsive">
        </li>
      <% end %>
    </ul>
  </div>


  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>

</div>
