
<div class="container show_page">

  
  <!-- Project Description -->
  <div class='row'>
    <div class="col-md-12">

    <h1><%= @project.name %></h1>


      <!-- Project Description -->
      <div class"col-md-12">
        <p class='description' >
          <%= @project.description %>
        </p>
      </div>
    </div>
  </div>

  <!-- Project Elements (image/video) -->
  <div class="row">
    <ul>
      <% for @element in @project.elements %>
        <div class="col-xs-12">
          <li>
                  <!-- If there's a video url use that, otherwise use uploaded image -->
                  <% if @element.url.present? %>
                      <<%=@element.html_tag.html_safe %><%=@element.url%><%=@element.html_subtag.html_safe%>>
                  <% else %>
                      <<%=@element.html_tag.html_safe %><%=@element.element_img.url%><%=@element.html_subtag.html_safe%>>
                    <% end %>
              
          </li>
        </div>
      <% end %>
    </ul>
  </div>
  
</div>
