<%= render 'layouts/navbar' %>

<div class="u-spacer120"></div>

<div class="wrapper">
  <div class="grid grid--center">
    <div class="grid__item two-fifths">
      <div class="u-alignCenter">
        <h1 class="u-spacer30"><%= @project.name %></h1>
        <p class="project--desc u-spacer30"><%= h(@project.description).gsub(/\n/, '<br/>').html_safe %></p>

        <hr class="u-spacer30">
        <% if @project.extended_description.present? %>
          <span data-toggle="collapse" data-target="#ex_desc">
            Show Credits
          </span>
          <div class="collapse project--desc" id="ex_desc">
            <p class="project--desc u-spacer30"><%= h(@project.extended_description).gsub(/\n/, '<br/>').html_safe %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="project">
    
    <% for @element in @project.elements %>
      <% if @element.url.present? %>
        <<%=@element.html_tag.html_safe %><%=@element.url%><%=@element.html_subtag.html_safe%>>
      <% else %>
        <<%=@element.html_tag.html_safe %><%=@element.element_img.url%><%=@element.html_subtag.html_safe%>>
      <% end %>
    <% end %>
  </div>
  

  <%
    thisurl = request.original_url
    thistitle = @project.name
    thisimage = @project.feature_img.url
  %>
  <div class="share u-alignCenter u-spacer200">
    <p>
      Share project on 
      <a href="https://twitter.com/home?status=<%=thisurl%>">Twitter</a>, 
      <a href="https://pinterest.com/pin/create/bookmarklet/?media=<%=thisimage%>&url=<%=thisurl%>">Pinterest</a>, 
      <a href="http://www.tumblr.com/share/link?url=<%=thisurl%>&name=<%=thistitle%>">Tumblr</a>, or 
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%=thisurl%>">Facebook</a>
    </p>
  </div>

  <%= render 'listing' %>
  <%= render 'layouts/footer' %>

</div>  
